.navbar-bg-dark-theme {
  background-color: #231f20;
  color: #f9f9f9;
}

.navbar-bg-light-theme {
  background-color: #ebebeb;
}

.nav-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(243, 243, 243);
}

@media screen and (max-width: 767px) {
  .nav-header {
    flex-direction: column;
    align-items: center;
    border-bottom-style: none;
  }
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1110px;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .nav-content {
    flex-direction: column;
  }
}

.nav-bar-mobile-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav-bar-mobile-logo-container {
    display: none;
  }
}

.nav-bar-large-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
}

@media screen and (max-width: 767px) {
  .nav-bar-large-container {
    display: none;
  }
}

.website-logo {
  width: 110px;
}

@media screen and (min-width: 768px) {
  .website-logo {
    width: 165px;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.nav-menu-mobile-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
}
.nav-menu-mobile {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav-menu-mobile {
    display: none;
  }
}

.nav-menu-item {
  font-family: 'Roboto';
  margin: 10px;
  font-weight: 400;
  font-size: 16px;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #475569;
}

.nav-menu-item-mobile {
  margin: 0px;
  cursor: pointer;
  margin-bottom: 12px;
  width: 100%;
}

.logout-desktop-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 14px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
  color: #0967d2;
}

@media screen and (max-width: 767px) {
  .logout-desktop-btn {
    display: none;
  }
}

.nav-mobile-btn {
  border: none;
  padding: 0px;
  background: transparent;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .nav-mobile-btn {
    display: none;
  }
}

.nav-bar-img {
  width: 24px;
}

.dark-theme-button {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.light-theme-button {
  background-color: transparent;
  border: 2px solid #0967d2;
}
.icons-button {
  background-color: transparent;
  border: 0;
}
.popup-container {
  height: 130px;
  width: 250px;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .popup-container {
    height: 180px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.spacing {
  margin-right: 10px;
}
.harmburger-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  padding: 20px;
}
.closing-button-placement {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
}
.nav-menu-list-mobile {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
}
.list-elements-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  margin-top: 50%;
}
.harmburger-inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.harmburger-list-heading {
  color: #383838;
  font-size: 20px;
  font-family: 'Roboto';
  padding-top: 10px;
}
.light-heading {
  color: #181818;
}
.dark-heading {
  color: #ffffff;
}
.small-icons {
  max-width: 40px;
  margin-right: 10px;
}
